<!-- Page for creating new post -->
<%= form_for(post, url: url) do |f| %>
<% if post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %>
      prohibited this post from being saved:</h2>

    <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!-- Card for new post(Title, Img, Desc, Btn) -->
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <!-- Prints 'New Post' for new post -->
        <% if @post.new_record? %>
        <h2 class="card-title">New Post</h2>
        <!-- Prints 'Edit' + current post title when editing existing post -->
        <% else %>
        <h2 class="card-title">
          <b>Edit</b>
          <span class="thin-text"><%= @post.title %></span>
        </h2>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <!-- Card Title -->
        <li class="list-group-item">
          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title, id: :post_title, class: 'form-control' %>
          </div>
        </li>
        <!-- Card IMG URL -->
        <li class="list-group-item">
          <div class="field">
            <%= f.label :banner_image_url %>
            <%= f.text_field :banner_image_url, class: 'form-control' %>
          </div>
        </li>
        <!-- Card Description -->
        <li class="list-group-item">
          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description, id: :post_description, class: 'form-control' %>
          </div>
        </li>
        <!-- Create / Update Post button -->
        <li class="list-group-item">
          <div class="actions">
            <%= f.submit class: 'btn btn-success btn-block' %>
          </div>
        </li>
      </ul>
    </div>
    <!-- Show and back buttons under new post card -->
    <% if @post.persisted? %>
      <%= link_to 'Show', @post %> |
    <% end %>
    <%= link_to 'Back', authors_posts_path %>
  </div>
  <!-- TinyMCE text box -->
  <div class="col-md-8">
    <div class="field">
      <%= f.text_area :body, id: :post_body %>
    </div>
  </div>
</div>
<% end %>
