<div class="fixed-top">
<header class="navbar ">
  <section class="navbar-section ">
    <%= link_to "Blog", root_path, class: "btn btn-link" %>
    <%= link_to "About", about_path, class: "btn btn-link" %>
  </section>
  <section class="navbar-center">
    <!-- centered logo or brand -->
  </section>
  <section class="navbar-section">
    <%if author_signed_in? %>
    <%= link_to "Logout", destroy_author_session_path, method: :delete, class: "btn btn-link" %>
    <%= link_to "My posts", authors_posts_path, class: "btn btn-link" %>

    <% end %>
    <a href="#" class="btn btn-link">Twitter</a>
    <a href="#" class="btn btn-link">GitHub</a>
    <%= link_to "Contact", contact_path, class: "btn btn-link" %>
  </section>
</header>
</div>
